.fullscreen-header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

.compact-header {
  display: none;
}

.fullscreen-header.hide {
  display: none;
}

.compact-header.show {
  display: block;
}

.bg-custom-red {
  background-color: #e40613 !important; 
}

.footer a {
  color: white !important;
}


.video-carousel .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-carousel video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.d-none.d-lg-block {
  display: block;
}

@media (max-width: 991px) {
  .video-carousel {
      display: none;
  }
}

.navbar-nav .nav-item {
  margin-left: 1rem;
}

.bg-custom {
  background-color: #252525;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.flex-grow-1 {
  background-color: #252525;
  color: white;
  padding: 30px;
  border-radius: 10px;
}